
html,
body {
  width: 100%;
  height: 100%;
}

/*body {
  font-family: 'Muli', 'Helvetica', 'Arial', 'sans-serif';
}*/

a {
  color: #f14916;
  -webkit-transition: all .35s;
  transition: all .35s;
}

a:hover, a:focus {
  color: #f1e2bc;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 200;
  letter-spacing: 1px;
}

p {
  font-size: 18px;
  line-height: 1.5;
  margin-bottom: 20px;
  font-family: 'Josefin Sans', sans-serif;
}
section {
  padding: 100px 0;
}

section h2 {
  font-size: 40px;
}

#mainNav {
  background-color: #0097e6;
  
}
  
  #mainNav .navbar-toggler {
    font-size: 12px;
    right: 0;
    padding: 13px;
    text-transform: uppercase;
    color: #dcdde1;
    border: 0;
    background-color: #0646f8b4;
    font-family: 'Playfair Display', serif;
  }
  
  #mainNav .navbar-brand {
    color: #faf8f8;
    font-family: 'Playfair Display', serif;
  }
  
  #mainNav .navbar-brand.active, #mainNav .navbar-brand:active, #mainNav .navbar-brand:focus, #mainNav .navbar-brand:hover {
    color: #f1f1ea;
  }
  
  #mainNav .navbar-nav .nav-item .nav-link {
    font-size: 90%;
    font-weight: 400;
    padding: 0.75em 0;
    letter-spacing: 1px;
    color: white;
    font-family: 'Josefin Sans', sans-serif;
  }
  
  #mainNav .navbar-nav .nav-item .nav-link.active, #mainNav .navbar-nav .nav-item .nav-link:hover {
    color: rgb(75, 64, 238);
  }
  
  @media (min-width: 992px) {
    #mainNav {
      padding-top: 10px;
      padding-bottom: 25px;
      -webkit-transition: padding-top 0.3s, padding-bottom 0.3s;
      transition: padding-top 0.3s, padding-bottom 0.3s;
      border: none;
      /*opacity: 0.7;*/
      background-color: transparent;
      
    }
    #mainNav .navbar-brand {
      font-size: 1.75em;
      -webkit-transition: all 0.3s;
      transition: all 0.3s;
      color:  rgb(247, 242, 243);
    }
    #mainNav .navbar-nav .nav-item .nav-link {
      padding: 1.1em 1em !important;
    }
    #mainNav.navbar-shrink {
      padding-top: 0;
      padding-bottom: 0px;
      background-color: #fff200d0;
      opacity: 0.9;
    }
    #mainNav.navbar-shrink .navbar-brand {
      font-size: 1.25em;
      padding: 12px 0;
    }
  }
  
header.masthead {
  position: relative;
  width: 100%;
  padding-top: 150px;
  padding-bottom: 100px;
  color: white;
  background: url("../image/bg-pattern.png"), #fff200ec;
  background: url("../image/bg-pattern.png"), -webkit-gradient(linear, right top, left top, from(#220bf5), to(#067cdd));
  background: url("../image/bg-pattern.png"), linear-gradient(to left, #3bd5e9, #4991f0);
}

header.masthead .header-content {
  max-width: 500px;
  margin-bottom: 100px;
  text-align: center;
}

header.masthead .header-content h2 {
  font-size: 30px;
  font-family: 'Playfair Display', serif;
}

header.masthead .device-container {
  max-width: 325px;
  margin-right: auto;
  margin-left: auto;
}

header.masthead .device-container .screen img {
  border-radius: 3px;
}

@media (min-width: 992px) {
  header.masthead {
    height: 100vh;
    min-height: 775px;
    padding-top: 0;
    padding-bottom: 0;
  }
  header.masthead .header-content {
    margin-bottom: 0;
    text-align: left;
  }
  header.masthead .header-content h1 {
    font-size: 50px;
  }
  header.masthead .device-container {
    max-width: 325px;
  }
}
.btn-primary {
  color:black;
  background: #fff200;
  background: -webkit-gradient(linear, left top, left bottom, from(#fff200), to(#fff200));
  background: linear-gradient(#fff200, #fff200);
}

.text-primary {
  color: #1b1b1a;
}

.no-gutter > [class*='col-'] {
  padding-right: 0;
  padding-left: 0;
}

.btn-primary {
  color: #1b1b1a;
  border: 1px solid;
  border-color: white;
}

.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active {
  color: #3d3d3d;
  border-color: #fff200;
  background-color: #fff200;
}

.btn {
  border-radius: 300px;
  font-family: 'Lato', 'Helvetica', 'Arial', 'sans-serif';
  letter-spacing: 2px;
  text-transform: uppercase;
}

.btn-xl {
  font-size: 11px;
  padding: 15px 45px;
}
#contact{
  padding-left:29px;
  padding-right:20px;
  margin:0px;
}
footer{
  background:#40739e;
  color:#e7dddd;
  padding:40px;
 
}

.loader {
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid #3498db;
  width: 120px;
  height: 120px;
  -webkit-animation: spin 2s linear infinite; /* Safari */
  animation: spin 2s linear infinite;
}

/* Safari */
@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}